---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kyverno-policies
  namespace: argocd
spec:
  project: default
  sources:
  - repoURL: https://kyverno.github.io/kyverno/
    chart: kyverno-policies
    targetRevision: 3.5.2
    helm:
      valueFiles:
      - $values/k8s/charts/values/kyverno/values.yaml
  - repoURL: 'https://gitlab.procilon.de/cloud-and-infrastructure/admin-cluster/internal-admin-cluster.git'
    targetRevision: main
    ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: kyverno
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
